@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

:root {
  --clr-body-bg: hsl(0 0% 90%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background: var(--clr-body-bg);
  color: var(--clr-text);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 0 0 1rem 1rem;
  margin: auto;
  background-color: #fff;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  /* failback color : current color from system*/
  outline: 3px solid var(--radio-color, currentColor);
  border-radius: 50%;
  outline-offset: 3px;
}

.color-picker input[type="radio"]#pink {
  --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#yellow {
  --radio-color: yellow;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

/* if inside the root has id="pink" element is checked */
:root:has(#pink:checked) {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 55%);
  --clr-heading: hsl(209 50% 25%);
}

:root:has(#yellow:checked) {
  --clr-body-bg: hsl(50 50% 90%);
  --clr-card-bg: hsl(50 50% 100%);
  --clr-text: hsl(50 50% 55%);
  --clr-heading: hsl(50 50% 25%);
}
